body{
    overflow: hidden;
}

.main {
    -webkit-perspective: 310px; /* Safari 4-8  */
    perspective: 300px;
    transform: scale(0.25) translateY(-700px);
}

.container {
    border-right: 5px solid rgb(122, 138, 166);
    border-left: 5px solid rgb(122, 138, 166);
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(122, 138, 166);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg);
    transform-style: preserve-3d;
    transform: rotateX(15deg) translateY(30px) translateZ(50px);
}


.container.perfect {
    border-bottom: 5px solid  rgb(14, 255, 74);   
}

.container.cool {
    border-bottom: 5px solid  rgb(39, 133, 255);
}

.container.bad {
    border-bottom: 5px solid  rgb(255, 0, 0);
}
.container.miss {
    border-bottom: 5px solid  rgb(172, 82, 82);
    
}

.colonne {
    border-left: 3px solid rgb(122, 138, 166);
    border-right: 3px solid rgb(122, 138, 166);
    width: 25%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.commands_letter {
    font-size: 30px;
    font-family: "Arial";
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(46, 105, 207, 0.322);
    border-radius: 30px;
    padding: 5px 20px;
    color: rgba(46, 105, 207, 0.322);
}

.commands_letter.active {
    color: rgb(46, 105, 207);
    border: 2px solid rgb(46, 105, 207);
    
}

.colonne_sequence {
    width: 100%;
    height: 100%;
    position: relative;
    bottom:5px;
    left:50%;
    transform: translateX(-50%);
    
}

.note {
    width: 80px;
    height: 20px;
    position: absolute;
    border: 5px solid rgb(18, 36, 73);
    background: rgb(174, 201, 255);
    border-radius: 100%;
    left:50%;
    transform: translateX(-50%);    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center
}

.result {
    position: fixed;
    bottom:50px;
    font-size: 30px;
    display: flex;
justify-content: center;

}

.result p {
    margin-right:40px;
}

.success {
    position: fixed;
    top:150px;
    left:50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0;
}

.success.perfect {
    color: rgb(14, 255, 74);  
    opacity: 1;
     
}

.success.cool {
    color: rgb(39, 133, 255);
    opacity: 1;
}

.success.bad {
    color: rgb(255, 0, 0);
    opacity: 1;
}
.success.miss {
    color: rgb(172, 82, 82);
    opacity: 1;
    
}